<html>

<head>
    <link th:href="@{/sakura.css}" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <h2>To-dos:</h2>
        <ol>
            <li v-for="todo in todos">
                <label>
                    <input type="checkbox" v-on:change="toggle(todo)" v-bind:checked="todo.done">
                    <del v-if="todo.done">
                        {{ todo.text }}
                    </del>
                    <span v-else>
                        {{ todo.text }}
                    </span>
                </label>
                <img style="width: 16px; height: 16px;" th:src="@{/redx.jpg}" v-on:click="deleteOne(todo.text,todo.done)"/>
            </li>
        </ol>
        <br />
        <a href="#" v-on:click="toggleAll()">Mark All</a>
        <br />
        <a href="#" v-on:click="untoggleAll()">Unmark All</a>
        <br /><br />
        <form>
            Add new to-do:<input v-model="newTodo" type="text" />
            Done:<input v-model="newDone" type="checkbox" /><br />
            <a href="#" v-on:click="addOne()">Submit</a>
        </form>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                todos: [],
                newTodo: "",
                newDone: false
            },
            beforeMount(){
                this.getTodoList();
            },
            methods: {
                toggle: function (todo) {
                    todo.done = !todo.done;
                    this.toggleOne(todo);  
                },
                toggleAll: function () {
                    for (let todo of this.todos) {
                        todo.done = true;
                        this.toggleOne(todo);
                    }
                },
                untoggleAll: function () {
                    for (let todo of this.todos) {
                        todo.done = false;
                        this.toggleOne(todo);
                    }
                },
                toggleOne: function(todo){
                    axios
                        .post('/todo/toggle',
                         { text: todo.text, done: todo.done })
                         .then(response => (this.todos = response.data));
                },
                addOne: function () {
                    this.addTodoList(this.newTodo,this.newDone);
                    this.newTodo = "";
                    this.newDone = false;
                },
                deleteOne: function(vText,vDone){
                    axios
                        .post('/todo/delete',
                         { text: vText, done: vDone })
                         .then(response => (this.todos = response.data));
                },
                getTodoList: function(){
                    axios
                     .get('/todo')
                     .then(response => (this.todos = response.data));
                },
                addTodoList: function(vText,vDone){
                    axios
                        .post('/todo',
                         { text: vText, done: vDone })
                         .then(response => (this.todos = response.data));
                }
            }
        })
    </script>
</body>
</html>